*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#666;
}
li{
	list-style:none;
}
body{
	background-color: #f0f1f1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.nav{
	line-height: 47px;
	background-color: #323232;
	border-top:1px solid #3a3a3a;
}
.bx{
	width:1100px;
	margin:0 auto;
	position:relative;

}

/*头部=========================*/
.nav ul{
	margin-left:183px;
}
.nav ul li{
	float:left;
	margin-left:23px;
}

.nav ul li a{
	display:block;
	color:#636363;
	font-size:12px;
	padding:0 12px;
	line-height: 47px;
}
.nav ul li a:hover{
	background-color: #dd4012;
	color:#fff;
}
.nav ul .moren a{
	background-color: #dd4012;
	color:#fff;
}
.ab{
	position:absolute;
	left:0;
	z-index: 1;
}
.nav .fr{
	color:#666;
	font-size:12px;
}
.nav .fr>.fl{
	background:url(../img/i-img5.png) no-repeat left;
	padding-left:25px;
}
.nav .fr>.fr img{
	margin-left:15px;
	text-align:center;
}
.banner{
	position:relative;
}
.banner img{
	display:block;
	width:100%;
	text-align:center;
}
.mb{
	width:100%;
	line-height: 28px;
	background:rgba(0,0,0,0.6);
	position:absolute;
	bottom:0;
}
.mb p a{
	color:#a6a6a6;
	font-size:12px;
}
.mb p span{
	display:inline;
	padding:0 8px;
	color:#a6a6a6;
}



/*主体内容=======================*/
.main{
	background-color: #f0f1f1;
}
.dh{
	padding:25px 0;
	/*height: 80px;
	line-height: 80px;*/
}
.main .dh a{
	display:inline-block;
	font-size:12px;
	color:#636363;
	background-color: #fff;
	width:78px;
	padding:15px 0px;
	text-align:center;
}
.main .dh a:hover{
	background-color: #636363;
	color:#fff;
}

.content li{
	float:left;
	width:260px;
	height: 235px;
	background-color: #fff;
	padding-bottom:20px;
	margin-left:20px;
	margin-bottom:33px;
}
.content .qm{
	margin-left:0;
}
.content li h3{
	font-size:16px;
	padding:15px 0 10px 15px;
	border-bottom:1px solid #f7f7f7;
}
.content li p{
	/*margin-left:15px;*/
	padding:8px 0 0 15px;
}
.content li a{
	color:#939292;
	font-size:12px;
}
.nav-bot{
	width:300px;
	margin:0 auto;
	padding:25px 0  40px 0;
	text-align:center;
}

.nav-bot li{
	float:left;
	margin:0 4px;
}
.nav-bot li a{
	display:inline-block;
	width:36px;
	line-height: 36px;
	/*padding:12px;*/
	background-color: #fff;
}

.nav-bot li a:hover{
	background-color: #dd4012;
	color:#fff;
}


/*底部===============================*/
.foot{
	height:80px;
	border-bottom:2px solid #1d1d1d;
	background-color: #323232;
	font-size:12px;
}
.foot .fl{
	line-height:100px;
}

.foot .fr{
	margin-top:25px;
	width:625px;
}
.foot .fr-top{
	float:right;
	margin-bottom:10px;
}
.fr-top a{
	color:#999;
	margin-left:18px;
}
.fr-bot{
	color:#666;
	float:right;

}


/*第二个******************************/
.main1{
	margin-top:40px;
	background-color: #f0f1f1;
}
.main1 .nr>div{
	height: 160px;
	border-top:1px solid #e2e2e2;
	padding:20px 0 40px 0;
	box-sizing: border-box;
}
.nr .left{
	width:110px;
	margin-right:35px;
	text-align:center;
}
.nr .left:hover{
	background:url(../img/a-3_03.png) no-repeat left top;

}
.nr .right{
	width:950px;
}
.nr .right img{
	margin-right:25px;
}
.nr .right>div:nth-child(2){
	width: 700px;
}
.nr .right h2{
	color:#dd4012;
	font-size:18px;
	margin-bottom:15px;
}
.nr .right span{
	color:#333;
	font-size:12px;
}
.nr .right a{
	color:#999;
	font-size:12px;
	margin-right:22px;
}
.nr .right p{
	font-size:12px;
	color:#666;
	margin-top:12px;
}



/*解决方案****************************/

 .min3-z{
	background-color: #fff;
	padding:40px;
	margin-top:95px;
	box-sizing:border-box;
 }
.min3-z div:nth-child(3){
	padding:45px 0 45px 0;
	border-bottom:1px solid #eaeaea;
	border-top:1px solid #eaeaea;
}


/*提交***************************************/
.min4{
	margin-top:45px;

}
.min4 .bx2 .div1{
	margin-top:45px;
}
.min4 .bx2 .div8{
	margin-bottom:38px;
}
.min4 table tr td:nth-child(2) {
	padding-left:78px;
	box-sizing:border-box;

}
.min4 table tr td:first-child {
	padding-left:30px;
}

.min4 table tr:first-child td:nth-child(1){
	background:url(../img/k_img1.png) no-repeat ;
}
.min4 table tr:first-child td:nth-child(2){
	background:url(../img/k_img2.png) no-repeat 17%;
}
.min4 table tr:first-child td:nth-child(3){
	background:url(../img/k_img3.png) no-repeat 12%;
}
.min4 table tr:last-child td:nth-child(2){
	background:url(../img/k_img5.png) no-repeat 17%;
}
.min4 table tr td:nth-child(3) {
	padding-left:78px;

}
.min4 table tr:nth-child(2) td:nth-child(2){

	background:url(../img/k_img4.png) no-repeat 17%;
}
table{
	font-size:12px;
	padding:32px 0 40px 0;
}


/*第六个*****************************/

.min6{
	color:#333;
	background-color: #f0f1f1;
}
.min6 ul{
	margin:40px 0 40px 0;
	border-bottom:1px solid #dd4012;
}
.min6 ul li{
	float:left;
}
.min6 ul li a{
	display:block;
	padding:10px 24px;
	background-color: #cdcdcd;
	margin-right:15px;
	font-size:14px;
}
.min6 ul li a:hover{
	background-color: #dd4012;
	color:#fff;
}

.wz h3{
	margin-bottom:33px;
	color:#dd4012;
	font-size:20px;
}
.wz p{
	line-height: 34px;
	font-size:14px;
}
.tu img{
	margin:42px 0 42px 0;
}


/*合作==========================*/
.min5 ul{
	margin:40px 0 40px 0;
	border-bottom:2px solid #dd4012;
}
.min5 ul li{
	float:left;
}
.min5 ul li a{
	display:block;
	padding:10px 24px;
	background-color: #cdcdcd;
	margin-right:15px;
	font-size:14px;
}
.min5 ul li a:hover{
	background-color: #dd4012;
	color:#fff;
}
.min5 h4{
	margin-bottom:22px;
	font-size:17px;
	color:#dd4012;
}
.min5 ol li{
	line-height: 28px;
	font-size:14px;
	color:#333;
}
.min5 ol{
	margin-bottom:40px;
}


/*第7个********************/
.min6 ol li{
	float:left;
	width: 200px;
	height: 100px;
	background-color: #fff;
	margin-bottom:30px;
	margin-left:25px;
}
.min6 ol li:nth-child(1){
	margin-left:0;
}
.min6 ol li:nth-child(6){
	margin-left:0;
}.min6 ol li:nth-child(11){
	margin-left:0;
}
.yuan{
	width: 90px;
	margin:0 auto;
	padding-bottom:30px;
}
.yuan b{
	display:inline-block;
	width: 8px;
	height: 8px;
	border-radius:50%;
	background-color: #dd4012;
}
.yuan b:nth-child(2){
	margin:0 20px 0 20px;
}

/*主页===============================*/

.tub{
	width:155px;
	background-color: #fff;
}
.nav1 .ab{
	position:absolute;
	top:0px;
	text-align: right;
	background:rgba(25,25,25, 0.9);
}

.nav .ab a{
	display:block;
	padding-right:25px;
	color:#a6a6a6;
	font-size:14px;
}
.nav .ab a:first-child{
	padding-right:0;
}
.nav .ab a:hover{
	color:#fff;
}
.min2{
	position:relative;

}
.min2>img{
	height: 784px;
	display:block;
	width:100%;
	text-align:center;
}
.lun{
	width:1100px;
	position:absolute;
	bottom:22px;
}
.lun h4{
	font-size:16px;
	color:#dd4012;
	padding-bottom:10px;
}
.lun h4 span{
	font-weight:normal;
	float:right;
}
.lun h4 span a{
	color:#dd4012;
	font-size:12px;
}
.lun-tu img{
	display:block;
	float:left;
	margin-left:19px;
}
.lun-tu:before{
	content:"<";
	float:left;
	width:25px;
	line-height:90px;
	text-align:center;
	background-color: #dd4012;
	color:#fff;
}
.lun-tu:after{
	content:">";
	float:right;
	width:25px;
	line-height:90px;
	text-align:center;
	background-color: #dd4012;
	color:#fff;
}

.ab-top{
	width:315px;
	height: 135px;
	background-color: #dd4012;
	position:absolute;
	bottom:489px;
	right:0;
	padding:12px;
	box-sizing:border-box;
}
.ab-top .fl img{
	width:110px;
	height: 65px;
}
.ab-top h5{
	color:#ffd1c4;
	font-size:17px;
	margin-bottom:21px;
}
.ab-top h5 small{
	font-weight:normal;
	font-size:10px;
}
.ab-top h5 span{
	float:right;
}
.ab-top dd{
	color:#ffd1c4;
	font-size:14px;
}
.ab-top dd p{
	font-size:12px;
}

.cha{
	position:absolute;
	right:-9px;
	top:-6px;
}

.foot2{
	line-height: 45px;
	border-top:1px solid #505050;
	background-color: #040505;
	font-size:14px;
	
}
.foot2 .fl{
	color:#666;
}



.fix{
	background:rgba(0,0,0,0.5);
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	display:none;
}
.yhm{
	width: 200px;
	padding:20px;
	background-color: #fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.yhm input{
	width:100px;
	height: 25px;
	margin-bottom: 20px;
	outline:none;
	padding-left:5px;
}
.yhm button{
	display:block;
	margin:0 auto;
	width:70px;
	height: 30px;
	background-color: #00f;
	border:none;
	color:#fff;
}

/*资源************************/
.bx2{
	width:865px;
}
.div10>div{
	overflow:hidden;
}
.div10>div a{
	display:block;
	float:left;
}
.div10>div a:first-child {
	display:block;
	width: 163px;
	height: 210px;
	background-color: #dd4012;
	color:#fff;
	padding:26px 15px 0px 20px;
	box-sizing:border-box;
}
.div10>div h2{
	font-size:17px;
}
.div10>div {
	font-size:12px;
}
/*电子商务+++++++++++++++++++++++*/

.min7 .bx .min7-b a{
	display:block;
	width:180px;
	line-height: 45px;
	background-color:#cdcdcd;
	float:left;
	font-size:14px;
	color:#333;
	margin-right:3px;
}
.min7 .bx .min7-b{
	margin-top:30px;

}
.min7 .bx{
	text-align:center;

}
.min7 .bx div:nth-child(1) a:hover{
	
	color:#fff;
	background-color: #dd4012;
}
.min7 .bx .min7-b .moren1{
	color:#fff;
	background-color: #dd4012;
}
.min7.div1{
	margin-bottom:40px;
}
.min7.div1 h2{
	margin:40px 0 40px 0;
	color:#666;
	font-size:30px;
}
.min7 h3{
	margin:30px 0 30px 0;
	color:#333;
	font-size:22px;
}
.div2 img{
	margin-bottom:40px;

}
.div2 a{
	margin-right:24px;
}
.div2 a:last-child{
	margin-right:0;
}
/*营销解决方案++++++++++++++++++++++*/
.min7 .div3>div{
	border:1px solid #ddd;
	border-right:0;
	border-left:0;
}
.min7 .div3 a{
	text-align:center;	
	display:block;
	float:left;
	width:274px;
	line-height:35px;
	border-left:1px solid #ddd;
	color:#333;
	font-size:15px;
}
.div3 h1{
	font-size:30px;
	color:#666;
	margin:50px 0 40px 0;
}
.min7 .div3 a:hover{
	color:#dd4012;
}
.min7 .div3 a:last-child{
	border-right:1px solid #ddd;
	width:273px;
	
}
.min7 .div4{
	color:#333;
}
.min7 .div4 h4{
	margin:35px 0  35px 0;
	font-size:21px;
}
.min7 .div4 p{
	text-align:left;
	font-size:14px;
	color:#333;
	line-height: 25px;
	margin-bottom
}

/*整合网络营销全案解决方案===============*/
.min8 .bx .fl{
	padding:45px 0;
	line-height: 30px;
}
                                                     
.main10 {
	background-color: #fff;
	margin-top:100px;
	margin-bottom:40px;
}                               
.min6 dd{
	width: 550px;
}                                 
                                       

                                                     